<div>
    <h2>
        <span jhiTranslate="smsbankingApp.groupeBancaire.home.title">Groupe Bancaires</span>
        <button class="btn btn-primary float-right create-groupe-bancaire" [routerLink]="['/', { outlets: { popup: ['groupe-bancaire-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="smsbankingApp.groupeBancaire.home.createLabel">
            Create new Groupe Bancaire
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="groupeBancaires">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="smsbankingApp.groupeBancaire.libelleG">Libelle G</span></th>
            <th><span jhiTranslate="smsbankingApp.groupeBancaire.codeG">Code G</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let groupeBancaire of groupeBancaires ;trackBy: trackId">
                <td><a [routerLink]="['../groupe-bancaire', groupeBancaire.id ]">{{groupeBancaire.id}}</a></td>
                <td>{{groupeBancaire.libelleG}}</td>
                <td>{{groupeBancaire.codeG}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../groupe-bancaire', groupeBancaire.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'groupe-bancaire/'+ groupeBancaire.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'groupe-bancaire/'+ groupeBancaire.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
