<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBanqueLabel" jhiTranslate="smsbankingApp.banque.home.createOrEditLabel">Create or edit a Banque</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!banque.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="banque.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="smsbankingApp.banque.libelleB" for="field_libelleB">Libelle B</label>
            <input type="text" class="form-control" name="libelleB" id="field_libelleB"
                [(ngModel)]="banque.libelleB"
            required maxlength="50" />
            <div [hidden]="!(editForm.controls.libelleB?.dirty && editForm.controls.libelleB?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.libelleB?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.libelleB?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="smsbankingApp.banque.codeB" for="field_codeB">Code B</label>
            <input type="number" class="form-control" name="codeB" id="field_codeB"
                [(ngModel)]="banque.codeB"
            required max="5" />
            <div [hidden]="!(editForm.controls.codeB?.dirty && editForm.controls.codeB?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.codeB?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.codeB?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 5 }">
                    This field cannot be more than 5.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.codeB?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="smsbankingApp.banque.codeP" for="field_codeP">Code P</label>
            <input type="number" class="form-control" name="codeP" id="field_codeP"
                [(ngModel)]="banque.codeP"
            required max="2" />
            <div [hidden]="!(editForm.controls.codeP?.dirty && editForm.controls.codeP?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.codeP?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.codeP?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 2 }">
                    This field cannot be more than 2.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.codeP?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="smsbankingApp.banque.groupeBancaire" for="field_groupeBancaire">Groupe Bancaire</label>
            <select class="form-control" id="field_groupeBancaire" name="groupeBancaire" [(ngModel)]="banque.groupeBancaire"  required>
                <option [ngValue]="groupeBancaireOption.id === banque.groupeBancaire?.id ? banque.groupeBancaire : groupeBancaireOption" *ngFor="let groupeBancaireOption of groupebancaires; trackBy: trackGroupeBancaireById">{{groupeBancaireOption.libelleG}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.groupeBancaire?.dirty && editForm.controls.groupeBancaire?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.groupeBancaire?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
